@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(233, 242, 253);
}